@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');

body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Arvo', serif;
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing:border-box;
}