@import url('https://fonts.googleapis.com/css?family=Josefin+Sans');
@import url('https://fonts.googleapis.com/css2?family=Arvo:wght@400;700&family=Open+Sans:ital,wght@0,400;0,700;1,600&display=swap');

body{
    margin:0px;
    padding:0px;
    box-sizing:border-box;
    font-family: 'Arvo', serif;
    font-family: 'Open Sans', sans-serif;
}
*{
    box-sizing:border-box;
}